<div class="inner">
  <aside id="sidebar" ng-controller="SidebarCtrl">
    <h1 id="logo-wrap">
      <a ui-sref="app.domains" id="logo">maji.moe</a>
    </h1>
    <nav id="sidebar-nav">
      <a ui-sref="{{ link.state }}" class="sidebar-nav-link" ng-repeat="link in links" ng-bind="link.name" ng-class="{active: state === link.state}"></a>
    </nav>
  </aside>
  <div id="content">
    <header id="header" ng-controller="HeaderCtrl">
      <div id="header-title-wrap">
        <h1 id="header-title" ng-bind="title"></h1>
      </div>
      <div id="user-link-wrap" dropdown ng-if="user">
        <a id="user-link">
          <img ng-src="{{ user.avatar }}" id="user-avatar">
          <span id="user-name" ng-bind="user.name"></span>
        </a>
        <ul id="user-menu">
          <li>
            <a ui-sref="app.settings" class="user-menu-link">Settings</a>
          </li>
          <li>
            <a ng-click="logout()" class="user-menu-link">Log out</a>
          </li>
        </ul>
      </div>
    </header>
    <div ui-view></div>
  </div>
</div>