<div id="dialog-page">
  <div id="dialog-block">
    <div id="dialog-content" ng-class="{shake: submitted && loginForm.$invalid}">
      <header id="dialog-header">
        <h1 id="dialog-title">Log in</h1>
      </header>
      <div id="login-btn-group">
        <div class="login-btn-wrap">
          <button id="login-btn-facebook" class="btn facebook" ng-click="facebookLogin()">Facebook</button>
        </div>
        <div class="login-btn-wrap">
          <button id="login-btn-twitter" class="btn twitter" ng-click="twitterLogin()">Twitter</button>
        </div>
        <div class="login-btn-wrap">
          <button id="login-btn-google" class="btn google" ng-click="googleLogin()">Google</button>
        </div>
        <div class="login-btn-wrap">
          <button id="login-btn-github" class="btn github" ng-click="githubLogin()">GitHub</button>
        </div>
      </div>
      <p class="login-text">or</p>
      <form name="loginForm" novalidate ng-submit="submit()">
        <div class="input-group">
          <input type="email" class="input" name="email" ng-model="token.email" placeholder="Email" required>
          <div class="input-error" ng-show="submitted && loginForm.email.$error.required">Required</div>
          <div class="input-error" ng-show="submitted && loginForm.email.$error.email">Email is invalid</div>
          <div class="input-error" ng-show="errors.email">{{ errors.email.message }}</div>
        </div>
        <div class="input-group">
          <input type="password" class="input" name="password" ng-model="token.password" placeholder="Password" required>
          <div class="input-error" ng-show="submitted && loginForm.password.$error.required">Required</div>
          <div class="input-error" ng-show="errors.password">{{ errors.password.message }}</div>
        </div>
        <button id="dialog-btn" class="btn primary large" type="submit" ng-disabled="submitting">Log in</button>
        <div id="dialog-links">
          <a ui-sref="signup" class="dialog-link left">Need an account?</a>
          <a ui-sref="password" class="dialog-link right">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
  <footer id="dialog-footer">&copy; SkyArrow</footer>
</div>
