<div id="dialog-page">
  <form name="passwordForm" id="dialog-block" novalidate ng-submit="submit()">
    <div id="dialog-content" ng-class="{shake: submitted && passwordForm.$invalid}">
      <header id="dialog-header">
        <h1 id="dialog-title">Forgot password</h1>
      </header>
      <div class="input-group">
        <input type="email" class="input" name="email" ng-model="email" placeholder="Email" required>
        <div class="input-error" ng-show="submitted && passwordForm.email.$error.required">Required</div>
        <div class="input-error" ng-show="submitted && passwordForm.email.$error.email">Email is invalid</div>
        <div class="input-error" ng-show="errors.email">{{ errors.email.message }}</div>
      </div>
      <button id="dialog-btn" class="btn primary large" type="submit">Submit</button>
    </div>
  </form>
  <footer id="dialog-footer">&copy; SkyArrow</footer>
</div>
