<div id="dialog-page">
  <form name="signupForm" id="dialog-block" novalidate ng-submit="submit()">
    <div id="dialog-content" ng-class="{shake: submitted && signupForm.$invalid}" ng-if="!success">
      <header id="dialog-header">
        <h1 id="dialog-title" class="signup">Sign up</h1>
      </header>
      <div class="input-group">
        <input type="text" class="input" name="name" ng-model="user.name" placeholder="Name" required ng-minlength="3" ng-maxlength="20">
        <div class="input-error" ng-show="submitted && signupForm.name.$error.required">Required</div>
        <div class="input-error" ng-show="submitted && (signupForm.name.$error.minlength || signupForm.name.$error.maxlength)">Length should be between 3 and 20</div>
        <div class="input-error" ng-show="errors.name">{{ errors.name.message }}</div>
      </div>
      <div class="input-group">
        <input type="password" class="input" name="password" ng-model="user.password" placeholder="Password" required ng-minlength="6" ng-maxlength="50">
        <div class="input-error" ng-show="submitted && signupForm.password.$error.required">Required</div>
        <div class="input-error" ng-show="submitted && (signupForm.password.$error.minlength || signupForm.password.$error.maxlength)">Length should be between 6 and 50</div>
        <div class="input-error" ng-show="errors.password">{{ errors.password.message }}</div>
      </div>
      <div class="input-group">
        <input type="password" class="input" name="confirm" ng-model="confirm" placeholder="Confirm your password" required equal-to="user.password">
        <div class="input-error" ng-show="submitted && signupForm.confirm.$error.required">Required</div>
        <div class="input-error" ng-show="submitted && signupForm.confirm.$error.equal">Password doesn't match</div>
      </div>
      <div class="input-group">
        <input type="email" class="input" name="email" ng-model="user.email" placeholder="Email" required>
        <div class="input-error" ng-show="submitted && signupForm.email.$error.required">Required</div>
        <div class="input-error" ng-show="submitted && signupForm.email.$error.email">Email is invalid</div>
        <div class="input-error" ng-show="errors.email">{{ errors.email.message }}</div>
      </div>
      <button id="dialog-btn" class="btn primary large" type="submit" ng-disabled="submitting || success">Sign up</button>
      <div id="dialog-links">
        <a href="/login" class="dialog-link">Already have an account?</a>
      </div>
    </div>
    <div id="dialog-content" ng-if="success">
      <header id="dialog-header">
        <h1 id="dialog-title">OK!</h1>
      </header>
      <div id="signup-success-icon"></div>
      <p class="dialog-text">You're almost done! Check the activation email in your mailbox to go on.</p>
    </div>
  </form>
  <footer id="dialog-footer">&copy; SkyArrow</footer>
</div>
