@import "nib"
@import "_variables"

global-reset()

*
*:before
*:after
  box-sizing: border-box

button::-moz-focus-inner
  padding: 0
  border: 0

body
  background: color-background
  color: color-text
  font: font-size font-sans
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.left
  float: left

.right
  float: right

.inner
  max-width: max-width
  margin: 0 auto
  padding: 0 gutter
  position: relative