.input-group
  margin: 10px 0
  position: relative

.input
  border: none
  padding: 10px 0
  font-family: font-sans
  font-size: font-size
  outline: none
  border-bottom: 1px dashed color-border
  width: 100%
  transition: 0.2s
  background: none
  &:focus
    border-bottom: 1px solid color-orange
  &.ng-invalid.ng-dirty
    border-bottom: 1px solid color-pink

.input-error
  color: color-pink
  font-size: 0.9em
  font-weight: bold
  padding-top: 0.5em
  &:before
    content: "\f071"
    font-family: font-icon
    padding-right: 6px