#domain-list
  position: relative

#domain-create
  @extend $box-lv1
  clearfix()
  padding: 10px 20px
  position: relative

#domain-create-input-wrap
  position: absolute
  top: 10px
  left: 20px
  right: 225px

#domain-create-input
  padding: 0
  font-weight: 300
  font-size: 25px
  border-bottom-style: solid

#domain-create-suffix
  font-weight: 300
  color: color-minor
  font-size: 25px
  float: right
  padding-right: 15px

.domain-create-error
  @extend .input-error
  position: absolute
  top: 100%
  right: 10px
  padding: 8px 16px
  background: color-pink
  box-shadow: 0 3px 6px color-shadow
  border-radius: 2px
  color: #fff
  &:after
    content: ""
    border-width: 6px
    border-style: solid
    border-color: transparent transparent color-pink
    position: absolute
    top: @border-width * -2
    right: 40px

#domain-create-btn
  float: right
  &:before
    content: "\f067"
    font-family: font-icon
    padding-right: 6px
    font-weight: normal

#domain-list-msg
  background: rgba(255, 255, 255, 0.5)
  padding: 30px
  border-radius: 5px
  margin: 40px 0
  text-align: center

.domain
  @extend $box-lv1
  margin: 40px 0
  transition: 0.2s
  &.expanded
    box-shadow: 0 5px 25px rgba(color-shadow, 0.8)

.domain-header
  clearfix()
  cursor: pointer
  position: relative
  padding: 20px 25px
  line-height: domain-header-height
  &:hover
    .domain-header-icon
      color: color-orange

.domain-name
  font-size: 20px
  float: left
  &:after
    content: ".maji.moe"
    color: color-minor
    font-weight: 300

.domain-header-icon
  height: domain-header-height
  color: color-minor
  float: right
  transition: 0.2s
  &:before
    content: "\f107"
    font-family: font-icon
    font-size: 24px
    font-weight: normal
  .expanded &
    transform: rotate(-180deg)

.domain-header-loading
  float: right
  position: relative
  margin: 10px 10px 0 0

.domain-content
  clearfix()
  padding: 0 25px

.domain-section-title
  font-size: 16px
  line-height: 1
  padding: 1em 0
  font-weight: bold

.record-list-msg
  padding: 25px
  text-align: center
  background: rgba(color-background, 0.3)
  border-radius: 4px
  margin: 20px 0

.record-create-form
  clearfix()
  padding: 20px 0
  position: relative

.record-create
  position: absolute
  top: 20px
  left: 0
  right: 85px

.record-create-btn
  float: right
  &:before
    content: "\f067"
    font-family: font-icon
    padding-right: 5px
    font-weight: normal

.record-input-txt
  width: 100%
  border: 1px solid color-border
  padding: 4px 8px
  font-size: 0.9em
  font-family: font-sans
  border-radius: 2px
  transition: 0.2s
  color: color-text
  &:focus
    border-color: color-orange
  &.ng-invalid.ng-dirty
    border-color: color-pink

.record-input-select
  width: 100%
  background: none
  border: 1px solid color-border
  font-size: 0.9em
  height: 25px
  border-radius: 2px

.record-input-type
  float: left
  width: 100px

.record-input-name
  float: left
  width: 100px
  margin: 0 20px

.record-input-value
  position: absolute
  top: 0
  left: 240px
  right: 120px
  .mx &
    right: 240px

.record-input-priority
  display: none
  margin: 0 20px
  float: right
  width: 100px
  .mx &
    display: block

.record-input-ttl
  float: right
  width: 100px

.record-input-error
  @extend .input-error
  clear: both

.record
  clearfix()
  margin: 12px 0
  position: relative
  line-height: font-size

.record-type
  border-radius: 3px
  color: #fff
  padding: 4px 0
  text-align: center
  width: 70px
  float: left
  margin-top: 1px
  font-size: 0.9em
  .A &
    background: record-a
  .CNAME &
    background: record-cname
  .MX &
    background: record-mx
  .TXT &
    background: record-txt
  .SPF &
    background: record-spf
  .AAAA &
    background: record-aaaa
  .NS &
    background: record-ns
    color: color-minor
  .LOC &
    background: record-loc

.record-name
  font-weight: bold
  float: left
  width: 250px
  padding: 5px 15px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.record-value
  position: absolute
  top: 0
  left: 70px + 250px
  right: 100px + 24px * 2
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding: 5px 0

.record-priority
  display: none
  &:before
    content: "with priority "
    color: color-minor
  .MX &
    display: inline

.record-ttl
  width: 100px
  float: right
  padding: 5px 15px

$record-item-btn
  display: block
  float: right
  cursor: pointer
  width: font-size
  height: @width
  line-height: @width
  text-align: center
  color: #ccc
  padding: 5px 0
  margin-left: 10px
  &:hover
    color: color-minor
  &:before
    font-family: font-icon
    font-size: @width
    font-weight: normal

.record-edit-btn
  @extend $record-item-btn
  &:before
    content: "\f040"

.record-delete-btn
  @extend $record-item-btn
  &:before
    content: "\f014"

.record-edit
  position: absolute
  top: 0
  left: 0
  right: 130px

.record-update-btn
  float: right
  &:before
    content: "\f00c"
    font-family: font-icon
    padding-right: 5px
    font-weight: normal

.record-cancel-btn
  float: right
  margin-right: 10px
  &:before
    content: "\f00d"
    font-family: font-icon
    font-weight: normal