#header-wrap
  background: #fff
  border-bottom: 1px solid color-border

#header
  clearfix()
  width: max-width
  margin: 0 auto
  padding: 25px 15px

#logo-wrap
  float: left

#main-nav
  float: right
  .btn
    float: left
    margin-left: 20px

#banner
  height: 450px
  background: url(banner-background) color-yellow
  background-attachment: fixed
  position: relative

#banner-form
  margin: auto
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0