#sidebar
  width: sidebar-width
  position: absolute
  top: 0
  left: gutter
  background: #fff
  padding: 20px 10px
  box-shadow: 0 5px 20px color-shadow
  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 6px
    background: ribbon-orange

.sidebar-nav-link
  display: block
  text-decoration: none
  color: color-text
  line-height: 1
  padding: 10px
  text-align: center
  border-radius: 3px
  &:hover
    background: color-orange
    color: #fff
  &.active
    font-weight: bold

#logo-wrap
  padding: 50px 0

#logo
  hide-text()
  height: 86px
  background-position: center
  background-repeat: no-repeat
  background-image: url("/images/logo.png")
  background-image: url("/images/logo.svg")
  display: block