// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-background = #f4ead5
color-text = #555
color-minor = #999
color-border = #e5e5e5
color-orange = darken(#ffc48c, 10%)
color-pink = #f56991
color-shadow = rgba(darken(color-background, 15%), 0.5)
ribbon-orange = lighten(color-orange, 25%)

record-a = #eacd76
record-cname = #7B90D2
record-mx = #7bcfa6
record-txt = #44CEF6
record-spf = #cca4e3
record-aaaa = #F2BE45
record-ns = #f2ecde
record-loc = #758a99

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 14px

font-icon = FontAwesome
font-icon-path = "/fonts/fontawesome-webfont"
font-icon-version = "4.1.0"

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg?v=#" + font-icon-version + "#fontawesomeregular") format("svg")

// Layout
max-width = 1200px
gutter = 15px
sidebar-width = 200px
header-height = 30px
domain-header-height = 20px

// Header
banner-background = "/images/food.png"
