// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-background = #fff
color-text = #555
color-minor = #999
color-border = #ddd
color-yellow = #ffc46e

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 14px

// Layout
max-width = 1200px

// Header
banner-background = "/images/food.png"