@import "_common/base"
@import "_common/button"
@import "_common/form"
@import "_common/animation"
@import "_common/mixin"

html
  height: 100%

body
  min-height: 100%

#container
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 6px
    background: ribbon-orange

#content
  clearfix()
  padding-left: sidebar-width + 40px
  padding-bottom: 40px

@import "_partial/header"
@import "_partial/dialog"
@import "_partial/login"
@import "_partial/signup"
@import "_partial/sidebar"
@import "_partial/domain"
@import "_partial/settings"